@import font&color
@import media
a
  color: inherit
body
  background: $white
  color: $grey
  font-size: 16px
  font-family: $nunito
.container
  width: 1241px
  margin: 0 auto
  +size-xl
    width: 100%
    padding: 0 20px
.header
  background: $bg_header, url(../upload/bg-header.jpg) no-repeat
  background-size: cover
  color: $white
  padding: 42px 0 73px
  overflow: hidden
.header_nav
  display: flex
  align-items: center
  font-family: $roboto
  +size-m
    justify-content: space-between
.menu
  margin-left: 360px
  +size-xl
    margin-left: 200px
  +size-l
    margin-left: 150px
  +size-m
    display: none
    position: absolute
    top: 20px
    left: 55%
    margin-left: 0
  +size-s
    left: 50%
  +size-xs
    left: 15%
.menu_list
  margin: 0 25px
  &:hover
    color: lighten($black, 70%)
  +size-m
    margin: 10px 0
    padding: 5px
    background: lighten($grey, 50%)
    border-radius: 5px
%burger_line
  width: 35px
  height: 4px
  background: $white
  border-radius: 10px
  display: inline-block
  cursor: pointer
.burger_menu
  display: none
  +size-m
    display: inline-block
  span
    @extend %burger_line
    &::before
      content: ""
      @extend %burger_line
      margin-top: 12px
    &::after
      content: ""
      @extend %burger_line
      margin-bottom: 3px
.header_title
  width: 63%
  font-weight: 700
  font-size: 60px
  line-height: 82px
  margin: 173px 0 50px
  +size-m
    font-size: 40px
    line-height: 50px
    margin: 80px 0 20px
  +size-xs
    line-height: 40px
    width: 100%
.header_text
  width: 63%
  font-size: 29px
  line-height: 40px
  margin-bottom: 155px
  +size-m
    font-size: 20px
    line-height: 24px
    margin-bottom: 50px
  +size-xs
    width: 100%
    line-height: 22px
.header_form
  width: 100%
  background: $white
  padding: 20px 92px
  display: flex
  +size-m
    padding: 20px 40px
.header_form_input
  width: 100%
  height: 61px
  background: $pink
  border: none
  margin-right: 23px
  +size-m
    height: 40px
.header_form_submit
  width: 241px
  height: 61px
  color: $black
  background: $yellow
  border: none
  font-size: 23px
  &:hover
    background: $black
    color: $yellow
  +size-m
    height: 40px
    width: 200px
.promo_container
  display: flex
  justify-content: center
  font-weight: 700
  font-size: 14px
  color: $black
  padding: 74px 0 99px
  +size-m
    flex-wrap: wrap
    padding-bottom: 40px
.promo_wrapper
  width: 400px
  margin: 0 11px
  cursor: pointer
  +size-m
    width: 200px
  &:hover
    box-shadow: 0 0 20px lighten($light_grey, 40%)
    & .promo_wrapper_item
      background: $yellow
    & .promo_wrapper_item_arrow span
      background: $white url(../img/ic-arrow.png) 50% no-repeat
  +size-m
    margin: 10px
.promo_wrapper_img
  width: 100%
  height: 414px
  +size-m
    height: 200px
.promo_wrapper_item
  width: 100%
  height: 133px
  background: $white
  box-shadow: 0 0 10px lighten($light_grey, 50%)
  padding: 0 20px
  display: flex
  align-items: center
  +size-m
    height: 80px
.promo_wrapper_item_arrow
  span
    display: inline-block
    width: 38px
    height: 38px
    background: $yellow url(../img/ic-arrow.png) 50% no-repeat
    border-radius: 50%
    margin-right: 22px
.promo_wrapper_item_text
  +size-m
    font-size: 12px
.content_container
  padding-bottom: 98px
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: 1fr
  grid-gap: 54px
  +size-m
    grid-template-columns: 1fr
    grid-template-rows: repeat(2, 300px)
    grid-gap: 35px
    padding-bottom: 20px
  +size-xs
    grid-gap: 170px
.content_wrapper
  &:last-child
    position: relative
    +size-l
      display: flex
      justify-content: center
.content_title
  font-weight: 600
  font-size: 36px
  color: $dark_grey
  margin-bottom: 74px
  +size-l
    font-size: 30px
    margin-bottom: 40px
  +size-m
    margin-bottom: 20px
.content_wrapper_item
  margin: 27px 0
  padding-left: 119px
  +size-l
    padding-left: 90px
.content_icon_first
  background: url(../img/ic-content1.png) 0 50% no-repeat
  +size-l
    background-size: 15%
  +size-m
    background-size: 7%
  +size-xs
    background-size: 18%
.content_icon_second
  background: url(../img/ic-content2.png) 0 50% no-repeat
  +size-l
    background-size: 15%
  +size-m
    background-size: 7%
  +size-xs
    background-size: 18%
.content_icon_third
  background: url(../img/ic-content3.png) 0 50% no-repeat
  +size-l
    background-size: 15%
  +size-m
    background-size: 7%
  +size-xs
    background-size: 18%
.content_wrapper_item_title
  font-size: 29px
  margin-bottom: 23px
  +size-l
    font-size: 24px
    margin-bottom: 10px
.content_wrapper_item_text
  font-size: 21px
  line-height: 29px
  +size-l
    font-size: 18px
    line-height: 20px
.content_wrapper_block
  width: 200px
  height: 85%
  background: $yellow
  position: absolute
  top: 10%
  left: 10%
  +size-l
    display: none
.content_wrapper_img
  position: absolute
  z-index: 100
  right: 0
  top: 0
  +size-l
    width: 60%
    position: static
  +size-xs
    width: 100%
